* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7e9eb;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 99%;
  max-width: 100%;
  margin: 0 auto;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* page title */
.page-title{
  text-align: center;
  padding: 20px 0;
  font-size: 1.3em;
  text-transform: uppercase;
  color: blue;
}

/*  */

#slides-list {
  display: flex;
}

#slides-list li img {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 4px;
}

#slides-list li img:hover {
  opacity: .8;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 99;
  overflow: hidden;
}

.nav-list {
  display: flex;
  gap: 2em;
}
.icon {
  display: none;
}
.nav-list li{
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
  padding: 12px 16px;
}

.nav-list li:hover a {
  color: orangered;
}

/* Sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Product */
#product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#product-list li {
  width: 23.5%;
  padding: 5px;
  cursor: pointer;
  opacity: .7;
}

#product-list li:hover {
  opacity: 1;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#product-list li h3 {
  text-align: center;
  padding: 5px;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-family: 'Trebuchet MS', sans-serif;
}

#product-list li h1 {
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 5px;
  text-transform: uppercase;
  color: orangered;
}

#product-list li p {
  font-size: 1em;
  font-family: Muli,sans-serif;
  line-height: 1.8;
  font-weight: 400;
  display: block;

  padding: 5px;
  margin-bottom: 5px;
}

/* btn-call */
.btn-call {
  display: block;
  padding: 7px 16px;
  border-radius: 4px;
  background-color: orangered;
  color: #fff;
  font-weight: 800;
  border: none;
  outline: none;
  margin: 0 auto;
}

.btn-call:hover {
  opacity: 0.6;
}

/* device */

.device-cart {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.device-item:nth-child(1) {
  width: 35%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  margin-right: 5px;
}

.device-item:nth-child(2) {
  width: 65%;
}

.device-item img {
  width: 85%;
}
.device-item a {
  background-color: bisque;
  display: block;
  padding: 5px;
  cursor: pointer;
  opacity: .8;
}

.device-item a:hover {
  opacity: 1;
}

.device-item a h2 {
  color: #000;
  font-size: 1.5em;
  padding-bottom: 5px;
}

.device-item a p {
  font-size: 1.2em;
}

#img-list li {
  float: left;
  width: 50%;
  background-color: bisque;
  margin-bottom: 5px;
  opacity: .8;
  cursor: pointer;
}

#img-list li:hover {
  opacity: 1;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
#img-list li img {
  width: 45%;
  float: left;
}

#img-list li h5 {
  padding-left: 5px;
  padding-top: 5px;
  color: blue;
  overflow: hidden;
}

#img-list li p {
  padding: 5px;
  display: block;
  font-size: 1.05em;
  overflow: hidden;
  letter-spacing: 1.8;
}

/* Slide */
#slide-list img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* Sevice */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#sevice-list li {
  float: left;
  opacity: .8;
}
#sevice-list li:hover {
  opacity: 1;
}
#sevice-list li a img {
  width: 100%;
}

#sevice-list li:nth-child(1),
#sevice-list li:nth-child(2) {
  width: 50%;
  padding: 5px;
}

#sevice-list li:nth-child(3),
#sevice-list li:nth-child(4),
#sevice-list li:nth-child(5) {
  width: 33.333%;
  padding: 5px;
}

/* footer */
#footer {
  display: flex;
  justify-content: space-between;
}

#footer li {
  width: 33.333%;
  padding: 5px;
  background-color: bisque;
}
#footer li:nth-child(2) {
  margin: 0 5px;
}
#footer li a {
  color: blue;
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
  padding: 4px;
}

#footer li a:hover {
  color: orangered;
}

/* =====================================Reponsive ================ */
@media only screen and (max-width: 922px) {
  .nav-list {
    display: none;
  }
  .logo {
    display: inline-block;
    width: 100%;
    height: 60px;
  }
  .icon {
    display: block;
    float: right;
    padding: 10px;
    font-size: 30px;
  }
  .navbar {
    position: relative;
  }

  .nav-list.reponsive{display: block; transition: 2s}
  .reponsive{
    flex-direction: column;
    margin: 0 auto;
  }

  /* Product */
  #product-list {
    width: 100%;
  }
  #product-list li {
    width: 30%;
  }

  /* device */

  .device-cart {
    flex-direction: column;
  }
  .device-item:nth-child(1),
  .device-item:nth-child(2) {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 600px) {
  #product-list {
    width: 100%;
  }

  #product-list li {
    width: 50%;
    margin-bottom: 5px;
  }

  /* Device */
  .device-cart {
    width: 100%;
  }

  #img-list li img {
    width: 35%;
  }
  #img-list li p {
    font-size: 15px;
  }

}

@media only screen and (max-width: 300px) {
  #product-list li {
    width: 100%;
  }
  #img-list li{
    float: none;
    width: 100%;
  }
}