* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7e9eb;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 99%;
  max-width: 100%;
  margin: 0 auto;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* page title */
.page-title{
  text-align: center;
  padding: 20px 0;
  font-size: 1.3em;
  text-transform: uppercase;
  color: orangered;
}

/* Top Link */
.top-link {
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
}
.top-link>a {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid;
  width: 25%;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: orangered;
  opacity: .7;
}
.top-link>a:hover {
  opacity: 1;
}
a.active {
  opacity: 1;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  slides */
.slides{
  height: 50vh;
}
#slides-list li{
  width: 50%;
  opacity: .9;
}
#slides-list li:hover {
  opacity: 1;
}

#slides-list li img {
  width: 100%;
}

/* Navbar */
.nav {
  height: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 99;
  overflow: hidden;
}

.nav-list {
  display: flex;
  gap: 2em;
}
.icon {
  display: none;
}
.nav-list li{
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
  padding: 12px 16px;
}

.nav-list li:hover a {
  color: orangered;
}

/* Sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Product */
.product {
  position: relative;
}

#product-list {
 height: 100vh;
}

#product-list li {
  width: 23%;
  padding: 50px 0;
  border-radius: 3px;
}
#product-list li>img {
  margin: 0 auto;
  display: block;
}

#product-list li:hover {
  opacity: 1;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.active {
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 1;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#product-list li h3 {
  text-align: center;
  padding: 5px;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-family: 'Trebuchet MS', sans-serif;
}

#product-list li h1 {
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 5px;
  text-transform: uppercase;
  color: orangered;
}

#product-list li p {
  font-size: 1em;
  font-family: Muli,sans-serif;
  line-height: 1.8;
  font-weight: 400;
  display: block;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
}

/* btn-call */
.btn-call {
  display: block;
  padding: 7px 16px;
  border-radius: 4px;
  background-color: orangered;
  color: #fff;
  font-weight: 800;
  border: none;
  outline: none;
  margin: 0 auto;
  opacity: .8;
}

.btn-call:hover {
  opacity: 1;
}

.prev, .next {
  position: absolute;
  top: 50%;
  background-color: orangered;
  display: block;
  border: none;
  outline: none;
  padding: 10px 5px;
  color: #fff;
  display: none;
}
.next {
  right: 0;
}

/* device */

.device {
  font-size: 1.2em;
}

.device-item:nth-child(1) {
  width: 35%;
  padding: 5px;
}

.device-item:nth-child(1)>a {
  display: block;
  padding: 15px 5px;
  color: #000;
  background-color: rgba(0,0,0,0.12);
  border-radius: 4px;
  opacity: .9;
}
.device-item:nth-child(1):hover {
  opacity: 1;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 3px;

}
.device-item:nth-child(1)>a:hover{
  opacity: 1;
}
.device-item:nth-child(2) {
  width: 75%;
}
.device-item h2>img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.device-item h2>a>h3 {
  font-size: .9em;
  padding: 5px 0;
}
.device-item h2>a>p {
  color: #000;
  font-size: .5em;
  padding: 5px 0;
  opacity: .8;
  line-height: 1.6;
}
#img-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#img-list li {
  padding: 5px;
  margin-bottom: 5px;
  width: 50%;
}
#img-list li {
  display: flex;
  opacity: .8;
}
#img-list li:hover{
  opacity: 1;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 3px;
}
#img-list li img {
  width: 40%;
  height: auto;
  border-radius: 3px;
}
#img-list li>a {
  display: block;
  color: #000;
  padding: 0 5px;
}
#img-list li>a h5 {
  padding: 5px;
  font-size: .6em;
  letter-spacing: 1px;
  opacity: .8;
}
#img-list li>a p{
  font-size: .6em;
  display: block;
  padding: 5px 0;
  letter-spacing: 0.8px;
  line-height: 1.8;
  opacity: .8;
}
span#link {
  display: block;
  text-align: right;
  padding: 5px 0;
  color: orangered;
  font-size: .7em;
  letter-spacing: 1px;
}


/* Slide */
#slide-list img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* Sevice */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.sevice-list li {
  width: 30.333%;
}
.sevice-list li img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  opacity: .9;
}

.sevice-content {
  background: rgba(0,0,0,0.16);
  padding: 5px;
  font-size: 1.2em;
  line-height: 1.5;
  border-radius: 0 0 4px 4px;
}
.btn-link {
  display: block;
  color: orangered;
  padding: 5px;
  text-align: right;
  opacity: .9;
}
.btn-link:hover {
  opacity: 1;
}
/* footer */
#footer {
  display: flex;
  justify-content: space-between;
}

#footer li {
  width: 33.333%;
  padding: 5px;
  background-color: bisque;
}


#footer li a {
  color: blue;
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
  padding: 4px;
}

#footer li a:hover {
  color: orangered;
}

/* =====================================Reponsive ================ */
@media only screen and (max-width: 1000px) {
  .nav-list {
    display: none;
  }
  .logo {
    display: inline-block;
    width: 100%;
    height: 60px;
  }
  .icon {
    display: block;
    float: right;
    padding: 10px;
    font-size: 30px;
  }
  .navbar {
    position: relative;
  }

  .nav-list.reponsive{display: block; transition: 2s}
  .reponsive{
    flex-direction: column;
    margin: 0 auto;
  }

  /* Product */
  #product-list {
    width: 100%;
  }
  #product-list li {
    width: 90%;
    margin: 0 auto;
  }
  .prev, .next {
    display: block;
  }


  /* device */
  .device-cart {
    flex-direction: column;
    width: 100%;
  }
  .device-item:nth-child(1),
  .device-item:nth-child(2) {
    width: 100%;
    display: block;
  }
  .device-item:nth-child(1){
   margin-bottom: 10px;

  }
  .device-item>img {
    width: 50%;
    display: inline;
    margin-left: 0;
    overflow: hidden;
    max-height: 100%;
  }
  .device-item>a {
    display: block;
    width: 50%;
    background: #000;
    float: right;
    margin-bottom: 0;
  }

  /* img-list */
  #img-list {
    width: 100%;
  }

  #img-list li {
    width: 50%;
    margin-bottom: 10px;
  }

}
/* ================================== */
@media only screen and (max-width: 800px) {
  .top-link>a {
    display: block;
    width: 100%;
  }
  /* products */
  #product-list {
    width: 100%;
  }
  #product-list li {
    width: 95%;
    height: auto;
  }

  #product-list li p {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  /* Device */
  .device-cart {
    width: 100%;
  }

  .device-item>a {
    display: block;
    width: 100%;
    background: #000;
    float: none;
    margin-bottom: 0;
  }
  .device-item>img {
    width: 100%;
  }

  /* img-list */
  #img-list {
    width: 100%;
  }
  #img-list li {
    float: none;
    overflow: hidden;
    width: 100%;
  }

  #img-list li img {
    width: 25%;
  }

  #img-list li p {
    font-size: 15px;
  }

  /* sevice-list */
  .sevice-list {
    flex-direction: column;
  }
  .sevice-list li {
    width: 100%;
    margin-top: 10px;
  }

  /* Footer */
  #footer {
    flex-direction: column;
  }

  #footer li {
    width: 100%;
    margin-top: 5px;
  }

}